body {
  background-color: #212121;
  
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
}


/* Modifiers for onscreen keyboard */

.hg-theme-default {
  width: 50%;
}

.keyboard-wrapper .ui-keyboard-button {
  margin: 5px;
  padding:20px;
  border-radius: 0px;
  border:solid 1px #282c34;
}